In [1]:
# pip install virtualenv
# virtualenv venv --python=python3.7
# .\venv\Scripts\activate

In [ ]:
# !pip install pyspark

In [19]:
# !pip install pyspark==3.3.2

Requirement already satisfied: pyspark==3.3.2 in c:\users\dgoya\venv\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\dgoya\venv\lib\site-packages (from pyspark==3.3.2) (0.10.9.5)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pyspark
print(pyspark.__version__)

3.3.2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
from platform import python_version
print(python_version())

3.11.5

In [4]:
# spark = SparkSession.builder.appName("CarCrashCaseStudy").getOrCreate()

spark = SparkSession.builder.appName("CarCrashCaseStudy").master("local[*]").getOrCreate()

In [5]:
df_charge = spark.read.csv("Data/Charges_use.csv", header=True, inferSchema=True)
df_damage = spark.read.csv("Data/Damages_use.csv", header=True, inferSchema=True)
df_Endorse = spark.read.csv("Data/Endorse_use.csv", header=True, inferSchema=True)
df_person = spark.read.csv("Data/Primary_Person_use.csv", header=True, inferSchema=True)
df_restrict = spark.read.csv("Data/Restrict_use.csv", header=True, inferSchema=True)
df_units = spark.read.csv("Data/Units_use.csv", header=True, inferSchema=True)

In [6]:
df_charge.createOrReplaceTempView('charge')
df_damage.createOrReplaceTempView('damage')
df_Endorse.createOrReplaceTempView('endorse')
df_person.createOrReplaceTempView('person')
df_restrict.createOrReplaceTempView('restrict')
df_units.createOrReplaceTempView('unit')

In [7]:
# df_charge = spark.read.csv("file:///C:/Users/dgoya/Desktop/BCG/Data/Charges_use.csv", header=True, inferSchema=True)

In [39]:
# df_charge.coalesce(1).write.mode('overwrite').csv('file:///C:/Users/dgoya/Desktop/BCG/Data/out/')

# Charge Table

In [9]:
df_charge.show(10)

# Grain: CRASH_ID, UNIT_NBR, PRSN_NBR, CHARGE, CITATION_NBR

# Duplicates - 202

# Need to handle null values in CHARGE, CITATION_NBR

+--------+--------+--------+--------------------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|              CHARGE|CITATION_NBR|
+--------+--------+--------+--------------------+------------+
|14768622|       1|       1|DRIVING WHILE INT...|        null|
|14838637|       1|       1|                 DWI|  1600000015|
|14838641|       1|       1|RAN RED LIGHT SOL...|      L20440|
|14838641|       2|       1|NO DRIVER'S LICEN...|      L23141|
|14838668|       1|       1|DRIVING WHILE INT...|TX4IC50SRJD3|
|14838669|       2|       1|     DWI W/BAC >.015| 2015-000006|
|14838670|       1|       1|DRIVING WHILE INT...| 2016-000003|
|14838685|       1|       1|FAILED TO DRIVE S...|   138434825|
|14838693|       1|       1|DRIVING WHILE INT...|TX4IC60UKQND|
|14838768|       2|       1|                 DWI|        null|
+--------+--------+--------+--------------------+------------+
only showing top 10 rows

In [10]:
df_charge.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- UNIT_NBR: integer (nullable = true)
 |-- PRSN_NBR: integer (nullable = true)
 |-- CHARGE: string (nullable = true)
 |-- CITATION_NBR: string (nullable = true)

In [11]:
spark.sql(""" SELECT CRASH_ID, UNIT_NBR, PRSN_NBR, CHARGE FROM charge GROUP BY CRASH_ID, UNIT_NBR, PRSN_NBR, CHARGE HAVING COUNT(*) > 2 limit 4
""").show()

+--------+--------+--------+--------------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|              CHARGE|
+--------+--------+--------+--------------------+
|14948245|       1|       1|FAIL TO CONTROL S...|
|15237682|       2|       1|       CHILD UNDER 8|
|15183777|       1|       1|               FTMFR|
|15182699|       1|       1|           18-919548|
+--------+--------+--------+--------------------+

In [12]:
df_charge.select('PRSN_NBR').distinct().show(5)

+--------+
|PRSN_NBR|
+--------+
|       1|
|       6|
|       3|
|       5|
|       9|
+--------+
only showing top 5 rows

In [13]:
spark.sql(""" select * from charge where crash_id = '15118115' order by CITATION_NBR """).show()
spark.sql(""" select distinct * from charge where crash_id = '15182699' order by CITATION_NBR """).show()

+--------+--------+--------+--------------------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|              CHARGE|CITATION_NBR|
+--------+--------+--------+--------------------+------------+
|15118115|       1|       1|        NO INSURANCE|     1413066|
|15118115|       1|       1|               NO DL|     1413066|
|15118115|       1|       1|        UNSAFE SPEED|     1413066|
|15118115|       1|       1|      OPEN CONTAINER|     1413067|
|15118115|       1|       1|      EVADING ARREST|    2016-463|
|15118115|       1|       1|          EVADING MV|    2016-463|
|15118115|       1|       1|      DWI W/BAC >.15|    2016-463|
|15118115|       1|       1|DUTY UPON STRIKIN...|    2016-463|
+--------+--------+--------+--------------------+------------+

+--------+--------+--------+---------+-------------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|   CHARGE|       CITATION_NBR|
+--------+--------+--------+---------+-------------------+
|15182699|       1|       1|18-919548|DROVE OFF MAIN LANE|
|15182699|       1|       1|18-919548|              FTMFR|
|15182699|       1|       1|18-919548|                NOL|
+--------+--------+--------+---------+-------------------+

In [10]:
spark.sql(""" select crash_id, count(distinct unit_nbr) from charge group by crash_id having count(distinct unit_nbr)>2 limit 2""").show()
spark.sql(""" select * from charge where crash_id in ('14997915', '15172182') order by crash_id""").show()

+--------+------------------------+
|crash_id|count(DISTINCT unit_nbr)|
+--------+------------------------+
|14997915|                       3|
|15172182|                       3|
+--------+------------------------+

+--------+--------+--------+--------------------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|              CHARGE|CITATION_NBR|
+--------+--------+--------+--------------------+------------+
|14997915|       2|       1|FAIL TO CONTROL S...|     1146856|
|14997915|       1|       1|FAIL TO CONTROL S...|     1146857|
|14997915|       3|       1|FAIL TO CONTROL S...|     1146854|
|15172182|       1|       1|FOLLOWING TOO CLO...|      W36286|
|15172182|       3|       1|FOLLOWING TOO CLO...|      W36286|
|15172182|       4|       1|FAIL TO CONTROL S...|      W36285|
+--------+--------+--------+--------------------+------------+

In [11]:
spark.sql(""" select crash_id, count(distinct PRSN_NBR) from charge group by crash_id having count(distinct PRSN_NBR)>2 limit 2""").show()
spark.sql(""" select * from charge where crash_id in ('14985383', '15050258') order by crash_id""").show()

+--------+------------------------+
|crash_id|count(DISTINCT PRSN_NBR)|
+--------+------------------------+
|14985383|                       4|
|15050258|                       3|
+--------+------------------------+

+--------+--------+--------+------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|CHARGE|CITATION_NBR|
+--------+--------+--------+------+------------+
|14985383|       2|       4|  NONE|        null|
|14985383|       2|       2|  NONE|        null|
|14985383|       1|       1|  NONE|        null|
|14985383|       2|       3|  NONE|        null|
|14985383|       2|       1|  NONE|        null|
|15050258|       1|       1|  NONE|        null|
|15050258|       2|       2|  NONE|        null|
|15050258|       2|       1|  NONE|        null|
|15050258|       2|       3|  NONE|        null|
+--------+--------+--------+------+------------+

In [12]:
spark.sql(""" select * from charge""").count()

116110

In [13]:
spark.sql(""" select * from charge""").distinct().count()

115908

In [14]:
spark.sql(""" select * from charge where crash_id is null or crash_id = '' """).distinct().count()

0

In [15]:
spark.sql(""" select * from charge where UNIT_NBR is null or UNIT_NBR = '' """).distinct().count()

0

In [16]:
spark.sql(""" select * from charge where PRSN_NBR is null or PRSN_NBR = '' """).distinct().count()

0

In [29]:
spark.sql(""" select * from charge where CHARGE is null or CHARGE = '' """).distinct().show(5, truncate=False)
spark.sql(""" select * from charge where CHARGE is null or CHARGE = '' """).distinct().count()

+--------+--------+--------+------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|CHARGE|CITATION_NBR|
+--------+--------+--------+------+------------+
|15006845|2       |1       |null  |null        |
|14909057|1       |1       |null  |null        |
|15133584|1       |1       |null  |null        |
|15128988|1       |1       |null  |null        |
|15227903|1       |1       |null  |null        |
+--------+--------+--------+------+------------+
only showing top 5 rows

104

In [31]:
# df_1 = spark.sql(""" select * from charge where CHARGE is null or CHARGE = '' """).distinct()

# df_1.coalesce(1).write.mode("overwrite").csv("Analysis_Data/")

In [23]:
spark.sql(""" select * from charge where CITATION_NBR is null or CITATION_NBR = '' """).distinct().count()

7342

In [24]:
spark.sql(""" select distinct CHARGE from charge """).show(5)
spark.sql(""" select distinct CHARGE from charge """).distinct().count()

+--------------------+
|              CHARGE|
+--------------------+
|FAIL TO PASS SAFE...|
| DRIVING W/O LICENSE|
|FAIL TO PASS LEFT...|
|UNSAFE SPEED/ DIS...|
|WRONG SIDE OF ROA...|
+--------------------+
only showing top 5 rows

18772

# Damage Table

In [36]:
df_damage.show(10)

# Grain: CRASH_ID, DAMAGED_PROPERTY
# Duplicates - 344

# Need to handle null values in DAMAGED_PROPERTY column

+--------+--------------------+
|CRASH_ID|    DAMAGED_PROPERTY|
+--------+--------------------+
|14768622|             MAILBOX|
|14768622|         YARD, GRASS|
|14838668|           GUARDRAIL|
|14838685|           ROAD SIGN|
|14838693|        2009 MAZDA 3|
|14838834|    CHAIN LINK FENCE|
|14838841|WOODED POLE ON SO...|
|14838842|CITY SIGN FOR TUR...|
|14838877|    FENCE-CHAIN LINK|
|14838977|LANDSCAPING AND M...|
+--------+--------------------+
only showing top 10 rows

In [72]:
df_damage.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- DAMAGED_PROPERTY: string (nullable = true)

In [40]:
spark.sql(""" SELECT CRASH_Id FROM damage GROUP BY CRASH_ID HAVING COUNT(*) > 3 """).show(5)

+--------+
|CRASH_Id|
+--------+
|15076990|
|15250113|
|15177129|
|15421520|
|15204167|
+--------+
only showing top 5 rows

In [41]:
df_damage.count()

24950

In [42]:
df_damage.distinct().count()

24606

In [45]:
df_damage.where(col("crash_id").isNull()).count()

0

In [46]:
df_damage.where(col("DAMAGED_PROPERTY").isNull()).count()

6

In [50]:
df_damage.select('DAMAGED_PROPERTY').distinct().count()

10303

# Endorse Table

In [52]:
df_Endorse.show(5)

# Grain: CRASH_ID, UNIT_NBR, DRVR_LIC_ENDORS_ID
# Duplicates - 0

# No Need to handle null values

+--------+--------+------------------+
|CRASH_ID|UNIT_NBR|DRVR_LIC_ENDORS_ID|
+--------+--------+------------------+
|14768622|       1|              NONE|
|14838637|       1|              NONE|
|14838637|       2|              NONE|
|14838641|       1|              NONE|
|14838641|       2|        UNLICENSED|
+--------+--------+------------------+
only showing top 5 rows

In [73]:
df_Endorse.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- UNIT_NBR: integer (nullable = true)
 |-- DRVR_LIC_ENDORS_ID: string (nullable = true)

In [64]:
spark.sql(""" SELECT CRASH_Id, UNIT_NBR FROM endorse GROUP BY CRASH_ID, UNIT_NBR HAVING COUNT(*) > 3 """).show(5)

+--------+--------+
|CRASH_Id|UNIT_NBR|
+--------+--------+
|15245181|       2|
|15027184|       1|
|15115632|       1|
|15154066|       1|
|15031837|       2|
+--------+--------+
only showing top 5 rows

In [59]:
df_Endorse.select('DRVR_LIC_ENDORS_ID').distinct().show(truncate=False)

+-------------------------------------+
|DRVR_LIC_ENDORS_ID                   |
+-------------------------------------+
|SCHOOL BUS                           |
|OTHER/OUT OF STATE                   |
|UNKNOWN                              |
|HAZARDOUS MATERIALS                  |
|UNLICENSED                           |
|TANK VEHICLE                         |
|NONE                                 |
|TANK VEHICLE WITH HAZARDOUS MATERIALS|
|PASSENGER                            |
|DOUBLE/TRIPLE TRAILER                |
+-------------------------------------+

In [62]:
df_Endorse.where(col('crash_id').isNull()).count()

0

In [63]:
df_Endorse.where(col('UNIT_NBR').isNull()).count()

0

In [65]:
df_Endorse.where(col('DRVR_LIC_ENDORS_ID').isNull()).count()

0

In [66]:
df_Endorse.count()

159818

In [67]:
df_Endorse.distinct().count()

159818

# Person

In [76]:
df_person.show(5)

# Grain: CRASH_ID, UNIT_NBR, PRSN_NBR -- but we don't have all person mapping because i can see data for PRSN_NBR=1 is only present in person table
# Duplicates - 0

# Need to handle null values on PRSN_SOL_FL, PRSN_DEATH_TIME, DRVR_ZIP

# PRSN_AGE column should be integer type because it contains integer values only

+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|PRSN_TYPE_ID|PRSN_OCCPNT_POS_ID|   PRSN_INJRY_SEV_ID|PRSN_AGE|PRSN_ETHNICITY_ID|PRSN_GNDR_ID|PRSN_EJCT_ID|       PRSN_REST_ID|   PRSN_AIRBAG_ID|PRSN_HELMET_ID|PRSN_SOL_FL|PRSN_ALC_SPEC_TYPE_ID|PRSN_ALC_RSLT_ID|PRSN_BAC_TEST_RSLT|PRSN_DRG_SPEC_TYPE_ID|PRSN_DRG_RSLT_ID|DRVR_DRG_CAT_1_ID|PRSN_DEATH_TIME|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|    DRVR_LIC_TYPE_ID|DRVR_LIC_STATE_ID|   DRVR_LIC_CLS_ID|DRVR_ZIP|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|14768622|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      27|         HISPANIC|        MALE|          NO|               NONE|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                BLOOD|        Positive|             0.225|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   77357|
|14838637|       1|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      31|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|               BREATH|        Positive|              0.21|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|         New York|OTHER/OUT OF STATE|   13830|
|14838637|       2|       1|      DRIVER|        FRONT LEFT|         NOT INJURED|      41|            BLACK|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|COMMERCIAL DRIVER...|            Texas|           CLASS A|   78934|
|14838641|       1|       1|      DRIVER|        FRONT LEFT|     POSSIBLE INJURY|      32|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             1|            0|             0|            1|        0|      DRIVER LICENSE|            Texas|           CLASS C|   76520|
|14838641|       2|       1|      DRIVER|        FRONT LEFT|NON-INCAPACITATIN...|      34|            BLACK|      FEMALE|          NO|SHOULDER & LAP BELT|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 1|             0|            0|             0|            1|        0|             ID CARD|            Texas|        UNLICENSED|   76707|
+--------+--------+--------+------------+------------------+--------------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
only showing top 5 rows

In [77]:
df_person.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- UNIT_NBR: integer (nullable = true)
 |-- PRSN_NBR: integer (nullable = true)
 |-- PRSN_TYPE_ID: string (nullable = true)
 |-- PRSN_OCCPNT_POS_ID: string (nullable = true)
 |-- PRSN_INJRY_SEV_ID: string (nullable = true)
 |-- PRSN_AGE: string (nullable = true)
 |-- PRSN_ETHNICITY_ID: string (nullable = true)
 |-- PRSN_GNDR_ID: string (nullable = true)
 |-- PRSN_EJCT_ID: string (nullable = true)
 |-- PRSN_REST_ID: string (nullable = true)
 |-- PRSN_AIRBAG_ID: string (nullable = true)
 |-- PRSN_HELMET_ID: string (nullable = true)
 |-- PRSN_SOL_FL: string (nullable = true)
 |-- PRSN_ALC_SPEC_TYPE_ID: string (nullable = true)
 |-- PRSN_ALC_RSLT_ID: string (nullable = true)
 |-- PRSN_BAC_TEST_RSLT: string (nullable = true)
 |-- PRSN_DRG_SPEC_TYPE_ID: string (nullable = true)
 |-- PRSN_DRG_RSLT_ID: string (nullable = true)
 |-- DRVR_DRG_CAT_1_ID: string (nullable = true)
 |-- PRSN_DEATH_TIME: timestamp (nullable = true)
 |-- INCAP_INJRY_CNT: integer (nullable = true)
 |-- NONINCAP_INJRY_CNT: integer (nullable = true)
 |-- POSS_INJRY_CNT: integer (nullable = true)
 |-- NON_INJRY_CNT: integer (nullable = true)
 |-- UNKN_INJRY_CNT: integer (nullable = true)
 |-- TOT_INJRY_CNT: integer (nullable = true)
 |-- DEATH_CNT: integer (nullable = true)
 |-- DRVR_LIC_TYPE_ID: string (nullable = true)
 |-- DRVR_LIC_STATE_ID: string (nullable = true)
 |-- DRVR_LIC_CLS_ID: string (nullable = true)
 |-- DRVR_ZIP: string (nullable = true)

In [123]:
spark.sql(""" SELECT CRASH_Id, UNIT_NBR, count(distinct PRSN_NBR) FROM person 
GROUP BY CRASH_Id, UNIT_NBR HAVING count(distinct PRSN_NBR) > 1 """).count()

0

In [124]:
df_person.select('PRSN_NBR').distinct().show(truncate=False)

+--------+
|PRSN_NBR|
+--------+
|1       |
+--------+

In [135]:
# Execute the SQL query and collect the result
result = spark.sql("""
    SELECT
        COUNT(CASE WHEN CRASH_ID IS NULL THEN 1 END) AS null_count_CRASH_ID,
        COUNT(CASE WHEN UNIT_NBR IS NULL THEN 1 END) AS null_count_UNIT_NBR,
        COUNT(CASE WHEN PRSN_NBR IS NULL THEN 1 END) AS null_count_PRSN_NBR,
        COUNT(CASE WHEN PRSN_TYPE_ID IS NULL THEN 1 END) AS null_count_PRSN_TYPE_ID,
        COUNT(CASE WHEN PRSN_OCCPNT_POS_ID IS NULL THEN 1 END) AS null_count_PRSN_OCCPNT_POS_ID,
        COUNT(CASE WHEN PRSN_INJRY_SEV_ID IS NULL THEN 1 END) AS null_count_PRSN_INJRY_SEV_ID,
        COUNT(CASE WHEN PRSN_AGE IS NULL THEN 1 END) AS null_count_PRSN_AGE,
        COUNT(CASE WHEN PRSN_ETHNICITY_ID IS NULL THEN 1 END) AS null_count_PRSN_ETHNICITY_ID,
        COUNT(CASE WHEN PRSN_GNDR_ID IS NULL THEN 1 END) AS null_count_PRSN_GNDR_ID,
        COUNT(CASE WHEN PRSN_EJCT_ID IS NULL THEN 1 END) AS null_count_PRSN_EJCT_ID,
        COUNT(CASE WHEN PRSN_REST_ID IS NULL THEN 1 END) AS null_count_PRSN_REST_ID,
        COUNT(CASE WHEN PRSN_AIRBAG_ID IS NULL THEN 1 END) AS null_count_PRSN_AIRBAG_ID,
        COUNT(CASE WHEN PRSN_HELMET_ID IS NULL THEN 1 END) AS null_count_PRSN_HELMET_ID,
        COUNT(CASE WHEN PRSN_SOL_FL IS NULL THEN 1 END) AS null_count_PRSN_SOL_FL,
        COUNT(CASE WHEN PRSN_ALC_SPEC_TYPE_ID IS NULL THEN 1 END) AS null_count_PRSN_ALC_SPEC_TYPE_ID,
        COUNT(CASE WHEN PRSN_ALC_RSLT_ID IS NULL THEN 1 END) AS null_count_PRSN_ALC_RSLT_ID,
        COUNT(CASE WHEN PRSN_BAC_TEST_RSLT IS NULL THEN 1 END) AS null_count_PRSN_BAC_TEST_RSLT,
        COUNT(CASE WHEN PRSN_DRG_SPEC_TYPE_ID IS NULL THEN 1 END) AS null_count_PRSN_DRG_SPEC_TYPE_ID,
        COUNT(CASE WHEN PRSN_DRG_RSLT_ID IS NULL THEN 1 END) AS null_count_PRSN_DRG_RSLT_ID,
        COUNT(CASE WHEN DRVR_DRG_CAT_1_ID IS NULL THEN 1 END) AS null_count_DRVR_DRG_CAT_1_ID,
        COUNT(CASE WHEN PRSN_DEATH_TIME IS NULL THEN 1 END) AS null_count_PRSN_DEATH_TIME,
        COUNT(CASE WHEN INCAP_INJRY_CNT IS NULL THEN 1 END) AS null_count_INCAP_INJRY_CNT,
        COUNT(CASE WHEN NONINCAP_INJRY_CNT IS NULL THEN 1 END) AS null_count_NONINCAP_INJRY_CNT,
        COUNT(CASE WHEN POSS_INJRY_CNT IS NULL THEN 1 END) AS null_count_POSS_INJRY_CNT,
        COUNT(CASE WHEN NON_INJRY_CNT IS NULL THEN 1 END) AS null_count_NON_INJRY_CNT,
        COUNT(CASE WHEN UNKN_INJRY_CNT IS NULL THEN 1 END) AS null_count_UNKN_INJRY_CNT,
        COUNT(CASE WHEN TOT_INJRY_CNT IS NULL THEN 1 END) AS null_count_TOT_INJRY_CNT,
        COUNT(CASE WHEN DEATH_CNT IS NULL THEN 1 END) AS null_count_DEATH_CNT,
        COUNT(CASE WHEN DRVR_LIC_TYPE_ID IS NULL THEN 1 END) AS null_count_DRVR_LIC_TYPE_ID,
        COUNT(CASE WHEN DRVR_LIC_STATE_ID IS NULL THEN 1 END) AS null_count_DRVR_LIC_STATE_ID,
        COUNT(CASE WHEN DRVR_LIC_CLS_ID IS NULL THEN 1 END) AS null_count_DRVR_LIC_CLS_ID,
        COUNT(CASE WHEN DRVR_ZIP IS NULL THEN 1 END) AS null_count_DRVR_ZIP
    FROM
        person
""").collect()

for row in result:
    for col in row.asDict().items():
        if col[1] > 0:
            print(f"{col[0]}: {col[1]}")

null_count_PRSN_SOL_FL: 19
null_count_PRSN_DEATH_TIME: 156708
null_count_DRVR_ZIP: 4426

In [80]:
df_person.select('PRSN_TYPE_ID').distinct().show(truncate=False)

+---------------------------------+
|PRSN_TYPE_ID                     |
+---------------------------------+
|PEDESTRIAN                       |
|DRIVER OF MOTORCYCLE TYPE VEHICLE|
|PASSENGER/OCCUPANT               |
|DRIVER                           |
|UNKNOWN                          |
|OTHER (EXPLAIN IN NARRATIVE)     |
|PEDALCYCLIST                     |
+---------------------------------+

In [82]:
df_person.select('PRSN_OCCPNT_POS_ID').distinct().show(truncate=False)

+-------------------------------------------------+
|PRSN_OCCPNT_POS_ID                               |
+-------------------------------------------------+
|FRONT CENTER                                     |
|SECOND SEAT LEFT                                 |
|PEDESTRIAN, PEDALCYCLIST, OR MOTORIZED CONVEYANCE|
|FRONT LEFT                                       |
|CARGO AREA                                       |
|UNKNOWN                                          |
|SECOND SEAT CENTER                               |
|PASSENGER IN BUS                                 |
|THIRD SEAT LEFT                                  |
|OTHER  (EXPLAIN IN NARRATIVE)                    |
|FRONT RIGHT                                      |
|OTHER IN VEHICLE                                 |
|SECOND SEAT RIGHT                                |
|OUTSIDE VEHICLE                                  |
+-------------------------------------------------+

In [83]:
df_person.select('PRSN_INJRY_SEV_ID').distinct().show(truncate=False)

+-------------------------+
|PRSN_INJRY_SEV_ID        |
+-------------------------+
|NA                       |
|KILLED                   |
|UNKNOWN                  |
|NON-INCAPACITATING INJURY|
|NOT INJURED              |
|POSSIBLE INJURY          |
|INCAPACITATING INJURY    |
+-------------------------+

In [137]:
df_person.select('PRSN_AGE').distinct().show(5, truncate=False)
# df_person.select('PRSN_AGE').distinct().count()

## Should be integer datatype for this column

+--------+
|PRSN_AGE|
+--------+
|51      |
|54      |
|15      |
|29      |
|69      |
+--------+
only showing top 5 rows

In [86]:
df_person.select('PRSN_ETHNICITY_ID').distinct().show(truncate=False)

+---------------------------+
|PRSN_ETHNICITY_ID          |
+---------------------------+
|WHITE                      |
|BLACK                      |
|HISPANIC                   |
|NA                         |
|AMER. INDIAN/ALASKAN NATIVE|
|UNKNOWN                    |
|OTHER                      |
|ASIAN                      |
+---------------------------+

In [87]:
df_person.select('PRSN_GNDR_ID').distinct().show(truncate=False)

+------------+
|PRSN_GNDR_ID|
+------------+
|NA          |
|UNKNOWN     |
|MALE        |
|FEMALE      |
+------------+

In [88]:
df_person.select('PRSN_EJCT_ID').distinct().show(truncate=False)

+--------------+
|PRSN_EJCT_ID  |
+--------------+
|YES, PARTIAL  |
|NA            |
|YES           |
|UNKNOWN       |
|NOT APPLICABLE|
|NO            |
+--------------+

In [89]:
df_person.select('PRSN_REST_ID').distinct().show(truncate=False)

+----------------------------+
|PRSN_REST_ID                |
+----------------------------+
|NA                          |
|LAP BELT ONLY               |
|UNKNOWN                     |
|SHOULDER BELT ONLY          |
|NOT APPLICABLE              |
|OTHER (EXPLAIN IN NARRATIVE)|
|NONE                        |
|SHOULDER & LAP BELT         |
|CHILD SEAT, UNKNOWN         |
|CHILD BOOSTER SEAT          |
|CHILD SEAT, FACING REAR     |
|CHILD SEAT, FACING FORWARD  |
+----------------------------+

In [90]:
df_person.select('PRSN_AIRBAG_ID').distinct().show(truncate=False)

+-----------------+
|PRSN_AIRBAG_ID   |
+-----------------+
|NA               |
|NOT DEPLOYED     |
|DEPLOYED, SIDE   |
|UNKNOWN          |
|NOT APPLICABLE   |
|DEPLOYED MULTIPLE|
|DEPLOYED, FRONT  |
|DEPLOYED, REAR   |
+-----------------+

In [91]:
df_person.select('PRSN_HELMET_ID').distinct().show(truncate=False)

+-----------------+
|PRSN_HELMET_ID   |
+-----------------+
|WORN, UNK DAMAGE |
|WORN, DAMAGED    |
|NOT WORN         |
|NOT APPLICABLE   |
|WORN, NOT DAMAGED|
|UNKNOWN IF WORN  |
+-----------------+

In [92]:
df_person.select('PRSN_SOL_FL').distinct().show(truncate=False)

+-----------+
|PRSN_SOL_FL|
+-----------+
|null       |
|Y          |
|N          |
+-----------+

In [93]:
df_person.select('PRSN_ALC_SPEC_TYPE_ID').distinct().show(truncate=False)

+----------------------------+
|PRSN_ALC_SPEC_TYPE_ID       |
+----------------------------+
|URINE                       |
|NA                          |
|BREATH                      |
|BLOOD                       |
|OTHER (EXPLAIN IN NARRATIVE)|
|REFUSED                     |
|NONE                        |
+----------------------------+

In [94]:
df_person.select('PRSN_ALC_RSLT_ID').distinct().show(truncate=False)

+----------------+
|PRSN_ALC_RSLT_ID|
+----------------+
|NA              |
|Positive        |
|Negative        |
+----------------+

In [96]:
df_person.select('PRSN_BAC_TEST_RSLT').distinct().show(5, truncate=False)

+------------------+
|PRSN_BAC_TEST_RSLT|
+------------------+
|0.157             |
|0.151             |
|0.216             |
|0.147             |
|0.07              |
+------------------+
only showing top 5 rows

In [97]:
df_person.select('PRSN_DRG_SPEC_TYPE_ID').distinct().show(truncate=False)

+----------------------------+
|PRSN_DRG_SPEC_TYPE_ID       |
+----------------------------+
|URINE                       |
|NA                          |
|BLOOD                       |
|OTHER (EXPLAIN IN NARRATIVE)|
|REFUSED                     |
|NONE                        |
+----------------------------+

In [98]:
df_person.select('PRSN_DRG_RSLT_ID').distinct().show(truncate=False)

+----------------+
|PRSN_DRG_RSLT_ID|
+----------------+
|NA              |
|UNKNOWN         |
|Positive        |
|NOT APPLICABLE  |
|Negative        |
+----------------+

In [99]:
df_person.select('DRVR_DRG_CAT_1_ID').distinct().show(truncate=False)

+-------------------------------------+
|DRVR_DRG_CAT_1_ID                    |
+-------------------------------------+
|DISSOCIATIVE ANESTHETICS             |
|NARCOTIC ANALGESICS                  |
|OTHER DRUGS (EXPLAIN IN NARRATIVE)   |
|NA                                   |
|MULTIPLE DRUGS (EXPLAIN IN NARRATIVE)|
|CNS STIMULANTS                       |
|HALLUCINOGENS                        |
|UNKNOWN                              |
|CNS DEPRESSANTS                      |
|NOT APPLICABLE                       |
|CANNABIS                             |
|INHALANTS                            |
+-------------------------------------+

In [101]:
df_person.select('PRSN_DEATH_TIME').distinct().show(5, truncate=False)

+-------------------+
|PRSN_DEATH_TIME    |
+-------------------+
|2024-02-06 18:34:00|
|2024-02-06 14:57:00|
|2024-02-06 12:23:00|
|2024-02-06 10:41:00|
|2024-02-06 18:28:00|
+-------------------+
only showing top 5 rows

In [102]:
df_person.select('INCAP_INJRY_CNT').distinct().show(truncate=False)

+---------------+
|INCAP_INJRY_CNT|
+---------------+
|1              |
|0              |
+---------------+

In [103]:
df_person.select('NONINCAP_INJRY_CNT').distinct().show(truncate=False)

+------------------+
|NONINCAP_INJRY_CNT|
+------------------+
|1                 |
|0                 |
+------------------+

In [104]:
df_person.select('POSS_INJRY_CNT').distinct().show(truncate=False)

+--------------+
|POSS_INJRY_CNT|
+--------------+
|1             |
|0             |
+--------------+

In [105]:
df_person.select('NON_INJRY_CNT').distinct().show(truncate=False)

+-------------+
|NON_INJRY_CNT|
+-------------+
|1            |
|0            |
+-------------+

In [106]:
df_person.select('UNKN_INJRY_CNT').distinct().show(truncate=False)

+--------------+
|UNKN_INJRY_CNT|
+--------------+
|1             |
|0             |
+--------------+

In [107]:
df_person.select('TOT_INJRY_CNT').distinct().show(truncate=False)

+-------------+
|TOT_INJRY_CNT|
+-------------+
|1            |
|0            |
+-------------+

In [108]:
df_person.select('DEATH_CNT').distinct().show(truncate=False)

+---------+
|DEATH_CNT|
+---------+
|1        |
|0        |
+---------+

In [109]:
df_person.select('DRVR_LIC_TYPE_ID').distinct().show(truncate=False)

+----------------------+
|DRVR_LIC_TYPE_ID      |
+----------------------+
|NA                    |
|COMMERCIAL DRIVER LIC.|
|ID CARD               |
|UNKNOWN               |
|OCCUPATIONAL          |
|UNLICENSED            |
|OTHER                 |
|DRIVER LICENSE        |
+----------------------+

In [111]:
df_person.select('DRVR_LIC_STATE_ID').distinct().show(5, truncate=False)

+-----------------+
|DRVR_LIC_STATE_ID|
+-----------------+
|Utah             |
|Minnesota        |
|Ohio             |
|Arkansas         |
|Oregon           |
+-----------------+
only showing top 5 rows

In [112]:
df_person.select('DRVR_LIC_CLS_ID').distinct().show(truncate=False)

+------------------+
|DRVR_LIC_CLS_ID   |
+------------------+
|CLASS C           |
|CLASS C AND M     |
|NA                |
|OTHER/OUT OF STATE|
|CLASS B           |
|CLASS A AND M     |
|CLASS M           |
|CLASS A           |
|UNKNOWN           |
|CLASS B AND M     |
|UNLICENSED        |
+------------------+

In [114]:
df_person.select('DRVR_ZIP').distinct().show(5, truncate=False)

+--------+
|DRVR_ZIP|
+--------+
|75007   |
|78073   |
|77371   |
|79849   |
|77339   |
+--------+
only showing top 5 rows

In [115]:
df_person.count()

156954

In [116]:
df_person.distinct().count()

156954

# Restrict Table

In [9]:
df_restrict.show(10)

# Grain: CRASH_ID, UNIT_NBR, DRVR_LIC_RESTRIC_ID
# Duplicates - 0

# No Need to handle null values

+--------+--------+--------------------+
|CRASH_ID|UNIT_NBR| DRVR_LIC_RESTRIC_ID|
+--------+--------+--------------------+
|14768622|       1|                NONE|
|14838637|       1|  OTHER/OUT OF STATE|
|14838637|       2|                NONE|
|14838641|       1|WITH CORRECTIVE L...|
|14838641|       2|          UNLICENSED|
|14838668|       1|                NONE|
|14838669|       1|                NONE|
|14838669|       2|WITH CORRECTIVE L...|
|14838670|       1|                NONE|
|14838685|       1|          UNLICENSED|
+--------+--------+--------------------+
only showing top 10 rows

In [138]:
spark.sql(""" SELECT CRASH_Id, UNIT_NBR, count(distinct DRVR_LIC_RESTRIC_ID) FROM restrict 
GROUP BY CRASH_Id, UNIT_NBR HAVING count(distinct DRVR_LIC_RESTRIC_ID) > 1 """).count()

2950

In [144]:
df_restrict.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- UNIT_NBR: integer (nullable = true)
 |-- DRVR_LIC_RESTRIC_ID: string (nullable = true)

In [143]:
# df_restrict.select('DRVR_LIC_RESTRIC_ID').distinct().count()
df_restrict.select('DRVR_LIC_RESTRIC_ID').distinct().show(5, truncate=False)

+--------------------------------------------+
|DRVR_LIC_RESTRIC_ID                         |
+--------------------------------------------+
|MOPED (EFF. END 12/31/2016)                 |
|APPLICABLE PROSTHETIC DEVICES               |
|FRSI CDL MM/DD/YY - MM/DD/YY OR EXEMPT A VEH|
|TRC 545.424 APPLIES UNTIL MM/DD/YY          |
|TO/FROM WORK OR LOFS 21 OR OVER             |
+--------------------------------------------+
only showing top 5 rows

In [145]:
df_restrict.count()

159852

In [146]:
df_restrict.distinct().count()

159852

# Unit Table

In [32]:
df_units.show(2)

# Grain: CRASH_ID, UNIT_NBR, 
# Duplicates - 5375
# Duplicates on grain because of VEH_DMAG_AREA_1_ID, VEH_DMAG_AREA_2_ID columns
# 'VEH_MOD_YEAR', 'FORCE_DIR_1_ID', 'FORCE_DIR_2_ID' columns should be integer type
# FIN_RESP_PROOF_ID column contains garbage value = 'NR' and if it is garbage then it should be integer type

# Need to handle null values on VEH_PARKED_FL, VEH_HNR_FL, VIN, EMER_RESPNDR_FL, OWNR_ZIP, VEH_INVENTORIED_FL, VEH_TRANSP_NAME, VEH_TRANSP_DEST

+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+----------+--------------------+---------------+--------+-----------------+--------------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+---------------+--------------------+--------------------+------------------+-------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
|CRASH_ID|UNIT_NBR| UNIT_DESC_ID|VEH_PARKED_FL|VEH_HNR_FL|VEH_LIC_STATE_ID|              VIN|VEH_MOD_YEAR|VEH_COLOR_ID|VEH_MAKE_ID|VEH_MOD_ID|    VEH_BODY_STYL_ID|EMER_RESPNDR_FL|OWNR_ZIP|FIN_RESP_PROOF_ID|    FIN_RESP_TYPE_ID|  VEH_DMAG_AREA_1_ID|VEH_DMAG_SCL_1_ID|FORCE_DIR_1_ID|  VEH_DMAG_AREA_2_ID|VEH_DMAG_SCL_2_ID|FORCE_DIR_2_ID|VEH_INVENTORIED_FL|VEH_TRANSP_NAME|     VEH_TRANSP_DEST|  CONTRIB_FACTR_1_ID|CONTRIB_FACTR_2_ID|CONTRIB_FACTR_P1_ID|VEH_TRVL_DIR_ID|FIRST_HARM_EVT_INV_ID|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|
+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+----------+--------------------+---------------+--------+-----------------+--------------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+---------------+--------------------+--------------------+------------------+-------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
|14768622|       1|MOTOR VEHICLE|            N|         N|              TX|4S2CK57D1X4381118|        1999|         GRY|      ISUZU|     AMIGO|PASSENGER CAR, 4-...|              Y|   77357|                2|                  NA|FRONT END DAMAGE ...|        DAMAGED 3|             1|LEFT SIDE AND TOP...|        DAMAGED 4|             3|                 Y|VALENTIN TOWING|20288 FM 1314 POR...|UNDER INFLUENCE -...|                NA|                 NA|           EAST|                    Y|              0|                 0|             0|            1|             0|            0|        0|
|14838637|       1|MOTOR VEHICLE|            N|         N|              TX|WVWAN7AN6DE536582|          NA|         GRY| VOLKSWAGEN|        CC|PASSENGER CAR, 4-...|              N|   13830|                1|PROOF OF LIABILIT...|FRONT END DAMAGE ...|        DAMAGED 3|            12|                  NA|               NA|            NA|                 N|     A-1 TOWING|    4710 ELLEN TROUT|   HAD BEEN DRINKING|                NA|                 NA|          SOUTH|                    Y|              0|                 0|             0|            1|             0|            0|        0|
+--------+--------+-------------+-------------+----------+----------------+-----------------+------------+------------+-----------+----------+--------------------+---------------+--------+-----------------+--------------------+--------------------+-----------------+--------------+--------------------+-----------------+--------------+------------------+---------------+--------------------+--------------------+------------------+-------------------+---------------+---------------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+
only showing top 2 rows

In [147]:
df_units.printSchema()

root
 |-- CRASH_ID: integer (nullable = true)
 |-- UNIT_NBR: integer (nullable = true)
 |-- UNIT_DESC_ID: string (nullable = true)
 |-- VEH_PARKED_FL: string (nullable = true)
 |-- VEH_HNR_FL: string (nullable = true)
 |-- VEH_LIC_STATE_ID: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- VEH_MOD_YEAR: string (nullable = true)
 |-- VEH_COLOR_ID: string (nullable = true)
 |-- VEH_MAKE_ID: string (nullable = true)
 |-- VEH_MOD_ID: string (nullable = true)
 |-- VEH_BODY_STYL_ID: string (nullable = true)
 |-- EMER_RESPNDR_FL: string (nullable = true)
 |-- OWNR_ZIP: string (nullable = true)
 |-- FIN_RESP_PROOF_ID: string (nullable = true)
 |-- FIN_RESP_TYPE_ID: string (nullable = true)
 |-- VEH_DMAG_AREA_1_ID: string (nullable = true)
 |-- VEH_DMAG_SCL_1_ID: string (nullable = true)
 |-- FORCE_DIR_1_ID: string (nullable = true)
 |-- VEH_DMAG_AREA_2_ID: string (nullable = true)
 |-- VEH_DMAG_SCL_2_ID: string (nullable = true)
 |-- FORCE_DIR_2_ID: string (nullable = true)
 |-- VEH_INVENTORIED_FL: string (nullable = true)
 |-- VEH_TRANSP_NAME: string (nullable = true)
 |-- VEH_TRANSP_DEST: string (nullable = true)
 |-- CONTRIB_FACTR_1_ID: string (nullable = true)
 |-- CONTRIB_FACTR_2_ID: string (nullable = true)
 |-- CONTRIB_FACTR_P1_ID: string (nullable = true)
 |-- VEH_TRVL_DIR_ID: string (nullable = true)
 |-- FIRST_HARM_EVT_INV_ID: string (nullable = true)
 |-- INCAP_INJRY_CNT: integer (nullable = true)
 |-- NONINCAP_INJRY_CNT: integer (nullable = true)
 |-- POSS_INJRY_CNT: integer (nullable = true)
 |-- NON_INJRY_CNT: integer (nullable = true)
 |-- UNKN_INJRY_CNT: integer (nullable = true)
 |-- TOT_INJRY_CNT: integer (nullable = true)
 |-- DEATH_CNT: integer (nullable = true)

In [31]:
cols_to_drop = ['VEH_DMAG_AREA_1_ID', 'VEH_DMAG_AREA_2_ID']
df_units.drop(*cols_to_drop).distinct().createOrReplaceTempView('t_units')

spark.sql(""" SELECT CRASH_Id, UNIT_NBR, count(*) FROM t_units 
GROUP BY CRASH_Id, UNIT_NBR HAVING count(*) > 1 """).count()

0

In [14]:
# Execute the SQL query and collect the result
result = spark.sql("""
    SELECT
    COUNT(CASE WHEN CRASH_ID IS NULL THEN 1 END) AS null_count_CRASH_ID,
    COUNT(CASE WHEN UNIT_NBR IS NULL THEN 1 END) AS null_count_UNIT_NBR,
    COUNT(CASE WHEN UNIT_DESC_ID IS NULL THEN 1 END) AS null_count_UNIT_DESC_ID,
    COUNT(CASE WHEN VEH_PARKED_FL IS NULL THEN 1 END) AS null_count_VEH_PARKED_FL,
    COUNT(CASE WHEN VEH_HNR_FL IS NULL THEN 1 END) AS null_count_VEH_HNR_FL,
    COUNT(CASE WHEN VEH_LIC_STATE_ID IS NULL THEN 1 END) AS null_count_VEH_LIC_STATE_ID,
    COUNT(CASE WHEN VIN IS NULL THEN 1 END) AS null_count_VIN,
    COUNT(CASE WHEN VEH_MOD_YEAR IS NULL THEN 1 END) AS null_count_VEH_MOD_YEAR,
    COUNT(CASE WHEN VEH_COLOR_ID IS NULL THEN 1 END) AS null_count_VEH_COLOR_ID,
    COUNT(CASE WHEN VEH_MAKE_ID IS NULL THEN 1 END) AS null_count_VEH_MAKE_ID,
    COUNT(CASE WHEN VEH_MOD_ID IS NULL THEN 1 END) AS null_count_VEH_MOD_ID,
    COUNT(CASE WHEN VEH_BODY_STYL_ID IS NULL THEN 1 END) AS null_count_VEH_BODY_STYL_ID,
    COUNT(CASE WHEN EMER_RESPNDR_FL IS NULL THEN 1 END) AS null_count_EMER_RESPNDR_FL,
    COUNT(CASE WHEN OWNR_ZIP IS NULL THEN 1 END) AS null_count_OWNR_ZIP,
    COUNT(CASE WHEN FIN_RESP_PROOF_ID IS NULL THEN 1 END) AS null_count_FIN_RESP_PROOF_ID,
    COUNT(CASE WHEN FIN_RESP_TYPE_ID IS NULL THEN 1 END) AS null_count_FIN_RESP_TYPE_ID,
    COUNT(CASE WHEN VEH_DMAG_AREA_1_ID IS NULL THEN 1 END) AS null_count_VEH_DMAG_AREA_1_ID,
    COUNT(CASE WHEN VEH_DMAG_SCL_1_ID IS NULL THEN 1 END) AS null_count_VEH_DMAG_SCL_1_ID,
    COUNT(CASE WHEN FORCE_DIR_1_ID IS NULL THEN 1 END) AS null_count_FORCE_DIR_1_ID,
    COUNT(CASE WHEN VEH_DMAG_AREA_2_ID IS NULL THEN 1 END) AS null_count_VEH_DMAG_AREA_2_ID,
    COUNT(CASE WHEN VEH_DMAG_SCL_2_ID IS NULL THEN 1 END) AS null_count_VEH_DMAG_SCL_2_ID,
    COUNT(CASE WHEN FORCE_DIR_2_ID IS NULL THEN 1 END) AS null_count_FORCE_DIR_2_ID,
    COUNT(CASE WHEN VEH_INVENTORIED_FL IS NULL THEN 1 END) AS null_count_VEH_INVENTORIED_FL,
    COUNT(CASE WHEN VEH_TRANSP_NAME IS NULL THEN 1 END) AS null_count_VEH_TRANSP_NAME,
    COUNT(CASE WHEN VEH_TRANSP_DEST IS NULL THEN 1 END) AS null_count_VEH_TRANSP_DEST,
    COUNT(CASE WHEN CONTRIB_FACTR_1_ID IS NULL THEN 1 END) AS null_count_CONTRIB_FACTR_1_ID,
    COUNT(CASE WHEN CONTRIB_FACTR_2_ID IS NULL THEN 1 END) AS null_count_CONTRIB_FACTR_2_ID,
    COUNT(CASE WHEN CONTRIB_FACTR_P1_ID IS NULL THEN 1 END) AS null_count_CONTRIB_FACTR_P1_ID,
    COUNT(CASE WHEN VEH_TRVL_DIR_ID IS NULL THEN 1 END) AS null_count_VEH_TRVL_DIR_ID,
    COUNT(CASE WHEN FIRST_HARM_EVT_INV_ID IS NULL THEN 1 END) AS null_count_FIRST_HARM_EVT_INV_ID,
    COUNT(CASE WHEN INCAP_INJRY_CNT IS NULL THEN 1 END) AS null_count_INCAP_INJRY_CNT,
    COUNT(CASE WHEN NONINCAP_INJRY_CNT IS NULL THEN 1 END) AS null_count_NONINCAP_INJRY_CNT,
    COUNT(CASE WHEN POSS_INJRY_CNT IS NULL THEN 1 END) AS null_count_POSS_INJRY_CNT,
    COUNT(CASE WHEN NON_INJRY_CNT IS NULL THEN 1 END) AS null_count_NON_INJRY_CNT,
    COUNT(CASE WHEN UNKN_INJRY_CNT IS NULL THEN 1 END) AS null_count_UNKN_INJRY_CNT,
    COUNT(CASE WHEN TOT_INJRY_CNT IS NULL THEN 1 END) AS null_count_TOT_INJRY_CNT,
    COUNT(CASE WHEN DEATH_CNT IS NULL THEN 1 END) AS null_count_DEATH_CNT
FROM
    unit

""").collect()

for row in result:
    for col in row.asDict().items():
        if col[1] > 0:
            print(f"{col[0]}: {col[1]}")

null_count_VEH_PARKED_FL: 5736
null_count_VEH_HNR_FL: 5736
null_count_VIN: 7699
null_count_EMER_RESPNDR_FL: 5736
null_count_OWNR_ZIP: 6038
null_count_VEH_INVENTORIED_FL: 8208
null_count_VEH_TRANSP_NAME: 48591
null_count_VEH_TRANSP_DEST: 55784

In [15]:
df_units.count()

173499

In [16]:
df_units.distinct().count()

168124

In [35]:
df_units.select('UNIT_DESC_ID').distinct().show(truncate=False)
df_units.select('VEH_PARKED_FL').distinct().show(truncate=False)
df_units.select('VEH_HNR_FL').distinct().show(truncate=False)
df_units.select('VEH_LIC_STATE_ID').distinct().show(truncate=False)
df_units.select('VIN').distinct().show(truncate=False)
df_units.select('VEH_MOD_YEAR').distinct().show(truncate=False)
df_units.select('VEH_COLOR_ID').distinct().show(truncate=False)
df_units.select('VEH_MAKE_ID').distinct().show(truncate=False)
df_units.select('VEH_MOD_ID').distinct().show(truncate=False)
df_units.select('VEH_BODY_STYL_ID').distinct().show(truncate=False)
df_units.select('EMER_RESPNDR_FL').distinct().show(truncate=False)
df_units.select('OWNR_ZIP').distinct().show(truncate=False)
df_units.select('FIN_RESP_PROOF_ID').distinct().show(truncate=False)
df_units.select('FIN_RESP_TYPE_ID').distinct().show(truncate=False)
df_units.select('VEH_DMAG_AREA_1_ID').distinct().show(truncate=False)
df_units.select('VEH_DMAG_SCL_1_ID').distinct().show(truncate=False)
df_units.select('FORCE_DIR_1_ID').distinct().show(truncate=False)
df_units.select('VEH_DMAG_AREA_2_ID').distinct().show(truncate=False)
df_units.select('VEH_DMAG_SCL_2_ID').distinct().show(truncate=False)
df_units.select('FORCE_DIR_2_ID').distinct().show(truncate=False)
df_units.select('VEH_TRANSP_NAME').distinct().show(truncate=False)
df_units.select('VEH_TRANSP_DEST').distinct().show(truncate=False)
df_units.select('CONTRIB_FACTR_1_ID').distinct().show(truncate=False)
df_units.select('CONTRIB_FACTR_2_ID').distinct().show(truncate=False)
df_units.select('CONTRIB_FACTR_P1_ID').distinct().show(truncate=False)
df_units.select('VEH_TRVL_DIR_ID').distinct().show(truncate=False)
df_units.select('FIRST_HARM_EVT_INV_ID').distinct().show(truncate=False)
df_units.select('INCAP_INJRY_CNT').distinct().show(truncate=False)
df_units.select('NONINCAP_INJRY_CNT').distinct().show(truncate=False)
df_units.select('POSS_INJRY_CNT').distinct().show(truncate=False)
df_units.select('NON_INJRY_CNT').distinct().show(truncate=False)
df_units.select('UNKN_INJRY_CNT').distinct().show(truncate=False)
df_units.select('TOT_INJRY_CNT').distinct().show(truncate=False)
df_units.select('DEATH_CNT').distinct().show(truncate=False)

+-----------------------------+
|UNIT_DESC_ID                 |
+-----------------------------+
|PEDESTRIAN                   |
|NON-CONTACT                  |
|TRAIN                        |
|MOTOR VEHICLE                |
|OTHER  (EXPLAIN IN NARRATIVE)|
|PEDALCYCLIST                 |
|TOWED/TRAILER                |
|MOTORIZED CONVEYANCE         |
+-----------------------------+

+-------------+
|VEH_PARKED_FL|
+-------------+
|null         |
|Y            |
|N            |
+-------------+

+----------+
|VEH_HNR_FL|
+----------+
|null      |
|Y         |
|N         |
+----------+

+----------------+
|VEH_LIC_STATE_ID|
+----------------+
|AZ              |
|SC              |
|LA              |
|MN              |
|NJ              |
|MX              |
|DC              |
|OR              |
|NA              |
|98              |
|VA              |
|RI              |
|KY              |
|WY              |
|NH              |
|MI              |
|NV              |
|WI              |
|ID              |
|CA              |
+----------------+
only showing top 20 rows

+-----------------+
|VIN              |
+-----------------+
|1FAFP53U85A190865|
|4T1BG22KX1U857396|
|1N4AA5AP5CC862603|
|JT4VN93D5M5023678|
|3GCEC13JX7G523359|
|3C4FY58B95T505146|
|1ZVFT82H965215324|
|JN1AZ34D45M604758|
|1FAFP5357XA316506|
|5TFRM5F14CX043017|
|1GTEK19ZX5Z309758|
|3GNEC16Z52G176864|
|1GCEC14V52Z217681|
|1GNFC13J57R299137|
|1GNEC13T41J143853|
|1FAFP42X1YF275608|
|1FTFW1EF7DKF49488|
|1FMCU93178KE69253|
|1LNHM82WX3Y653525|
|4T1BK1EBXEU132889|
+-----------------+
only showing top 20 rows

+------------+
|VEH_MOD_YEAR|
+------------+
|1987        |
|1972        |
|1988        |
|1977        |
|1971        |
|1984        |
|1982        |
|2005        |
|NA          |
|2000        |
|1981        |
|1978        |
|1974        |
|2002        |
|1995        |
|1964        |
|2006        |
|1976        |
|1967        |
|2004        |
+------------+
only showing top 20 rows

+------------+
|VEH_COLOR_ID|
+------------+
|RED         |
|TEA         |
|BLK         |
|ONG         |
|YEL         |
|GLD         |
|NA          |
|99          |
|CAM         |
|BRZ         |
|TRQ         |
|SIL         |
|CPR         |
|BRO         |
|PLE         |
|BLU         |
|MAR         |
|BGE         |
|PNK         |
|WHI         |
+------------+
only showing top 20 rows

+-------------------+
|VEH_MAKE_ID        |
+-------------------+
|AMERICAN IRON HORSE|
|ACURA              |
|WHITE              |
|MOTOR COACH MND INC|
|PIERCE             |
|PORSCHE            |
|WHITEGMC           |
|FREIGHTLINER       |
|BUELL              |
|STERLING           |
|HYUNDAI            |
|INTERNATIONAL      |
|PETER PIRSCH & SONS|
|FIAT               |
|NA                 |
|TOYOTA             |
|RAM                |
|SUBARU             |
|NISSAN             |
|IC CORPORATION     |
+-------------------+
only showing top 20 rows

+--------------+
|VEH_MOD_ID    |
+--------------+
|MDX           |
|ASTRO         |
|F SERIES      |
|ENTOURAGE     |
|MAZDA3I       |
|D-350         |
|6 SERIES      |
|CAMARO        |
|DYNASTY       |
|SHORT BED     |
|LIBERTY       |
|ESCALADE      |
|MONTE CARLO   |
|ENDEAVOR      |
|SL65AMG       |
|VOYAGER       |
|S60           |
|124           |
|CABRIO        |
|RAM TRUCK 3500|
+--------------+
only showing top 20 rows

+---------------------------------+
|VEH_BODY_STYL_ID                 |
+---------------------------------+
|BUS                              |
|NA                               |
|VAN                              |
|PICKUP                           |
|SPORT UTILITY VEHICLE            |
|PASSENGER CAR, 4-DOOR            |
|FIRE TRUCK                       |
|TRUCK                            |
|UNKNOWN                          |
|AMBULANCE                        |
|POLICE CAR/TRUCK                 |
|MOTORCYCLE                       |
|YELLOW SCHOOL BUS                |
|PASSENGER CAR, 2-DOOR            |
|TRUCK TRACTOR                    |
|FARM EQUIPMENT                   |
|NEV-NEIGHBORHOOD ELECTRIC VEHICLE|
|OTHER  (EXPLAIN IN NARRATIVE)    |
|POLICE MOTORCYCLE                |
|NOT REPORTED                     |
+---------------------------------+

+---------------+
|EMER_RESPNDR_FL|
+---------------+
|null           |
|Y              |
|N              |
+---------------+

+--------+
|OWNR_ZIP|
+--------+
|75007   |
|78073   |
|77339   |
|77371   |
|79849   |
|77303   |
|78382   |
|75602   |
|770598  |
|BOX     |
|78211   |
|788559  |
|79504   |
|70665   |
|76124   |
|79360   |
|33615   |
|77872   |
|74745   |
|78022   |
+--------+
only showing top 20 rows

+-----------------+
|FIN_RESP_PROOF_ID|
+-----------------+
|3                |
|NA               |
|1                |
|4                |
|2                |
|NR               |
+-----------------+

+----------------------------------------+
|FIN_RESP_TYPE_ID                        |
+----------------------------------------+
|INSURANCE BINDER                        |
|LIABILITY INSURANCE POLICY              |
|NA                                      |
|CERTIFICATE OF SELF-INSURANCE           |
|CERTIFICATE OF DEPOSIT WITH COMPTROLLER |
|SURETY BOND                             |
|PROOF OF LIABILITY INSURANCE            |
|CERTIFICATE OF DEPOSIT WITH COUNTY JUDGE|
+----------------------------------------+

+---------------------------------------------+
|VEH_DMAG_AREA_1_ID                           |
+---------------------------------------------+
|LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT     |
|INVALID VALUE                                |
|UNDERCARRIAGE DAMAGE ONLY                    |
|LEFT SIDE DAMAGE ANGULAR IMPACT              |
|NA                                           |
|VEHICLE BURNED                               |
|FRONT END DAMAGE CONCENTRATED IMPACT         |
|NOT APPLICABLE ( FARM TRACTOR, ETC.)         |
|DISTRIBUTED LEFT SIDE DAMAGE PARALLEL IMPACT |
|FRONT END (LEFT) DAMAGE PARTIAL CONTACT      |
|BACK END DAMAGE CONCENTRATED IMPACT          |
|DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT|
|FRONT END DAMAGE DISTRIBUTED IMPACT          |
|TOP DAMAGE ONLY                              |
|MOTORCYCLE, SCOOTER, MOPED, ETC. ONLY        |
|UNKNOWN                                      |
|BACK END (LEFT) DAMAGE PARTIAL CONTACT       |
|RIGHT SIDE DAMAGE ANGULAR IMPACT             |
|FRONT END (RIGHT)  DAMAGE PARTIAL CONTACT    |
|LEFT SIDE AND TOP DAMAGE ROLLOVER EFFECTS    |
+---------------------------------------------+
only showing top 20 rows

+-----------------+
|VEH_DMAG_SCL_1_ID|
+-----------------+
|DAMAGED 4        |
|INVALID VALUE    |
|NA               |
|DAMAGED 5        |
|DAMAGED 1 MINIMUM|
|DAMAGED 3        |
|NO DAMAGE        |
|DAMAGED 7 HIGHEST|
|DAMAGED 2        |
|DAMAGED 6        |
+-----------------+

+--------------+
|FORCE_DIR_1_ID|
+--------------+
|7             |
|11            |
|3             |
|8             |
|NA            |
|5             |
|6             |
|95            |
|9             |
|1             |
|10            |
|4             |
|12            |
|2             |
+--------------+

+---------------------------------------------+
|VEH_DMAG_AREA_2_ID                           |
+---------------------------------------------+
|LEFT FRONT QUARTER DAMAGE ANGULAR IMPACT     |
|UNDERCARRIAGE DAMAGE ONLY                    |
|LEFT SIDE DAMAGE ANGULAR IMPACT              |
|NA                                           |
|VEHICLE BURNED                               |
|FRONT END DAMAGE CONCENTRATED IMPACT         |
|NOT APPLICABLE ( FARM TRACTOR, ETC.)         |
|DISTRIBUTED LEFT SIDE DAMAGE PARALLEL IMPACT |
|FRONT END (LEFT) DAMAGE PARTIAL CONTACT      |
|BACK END DAMAGE CONCENTRATED IMPACT          |
|DISTRIBUTED RIGHT SIDE DAMAGE PARALLEL IMPACT|
|FRONT END DAMAGE DISTRIBUTED IMPACT          |
|TOP DAMAGE ONLY                              |
|MOTORCYCLE, SCOOTER, MOPED, ETC. ONLY        |
|UNKNOWN                                      |
|BACK END (LEFT) DAMAGE PARTIAL CONTACT       |
|RIGHT SIDE DAMAGE ANGULAR IMPACT             |
|FRONT END (RIGHT)  DAMAGE PARTIAL CONTACT    |
|LEFT SIDE AND TOP DAMAGE ROLLOVER EFFECTS    |
|BACK END (RIGHT) DAMAGE PARTIAL CONTACT      |
+---------------------------------------------+
only showing top 20 rows

+-----------------+
|VEH_DMAG_SCL_2_ID|
+-----------------+
|DAMAGED 4        |
|INVALID VALUE    |
|NA               |
|DAMAGED 5        |
|DAMAGED 1 MINIMUM|
|DAMAGED 3        |
|NO DAMAGE        |
|DAMAGED 7 HIGHEST|
|DAMAGED 2        |
|DAMAGED 6        |
+-----------------+

+--------------+
|FORCE_DIR_2_ID|
+--------------+
|7             |
|11            |
|3             |
|8             |
|NA            |
|5             |
|6             |
|9             |
|1             |
|10            |
|4             |
|12            |
|2             |
|95            |
+--------------+

+-----------------------------------+
|VEH_TRANSP_NAME                    |
+-----------------------------------+
|DEPENDABLE                         |
|HP AUTO WRECKER #150               |
|AWAY                               |
|MILSTEAD                           |
|VEHICLE DRIVEN BY DRIVER           |
|RIDGELINE TOWING                   |
|LIGHTNING TOWING & RECOVERY        |
|FERNANDEZ WRECKER SERVICE          |
|K. W. WRECKER SERVICE  830-981-5120|
|TTRS CHIP#363                      |
|AVILES WRECKER: 512-517-0625       |
|RILEY'S TOWING (936) 395-4170      |
|CSI WRECKER/165                    |
|PAIGE TOWING AND RECOVER           |
|COREYS  936-564-7718               |
|8050 NORTH FWY                     |
|BIVINGS TOWING                     |
|RPOERS WRECKER                     |
|SOUTH COUNTY WRECKERS              |
|NORTH HOUSTON MOTORS               |
+-----------------------------------+
only showing top 20 rows

+-------------------------------------+
|VEH_TRANSP_DEST                      |
+-------------------------------------+
|6006 S SH 123, SEGUIN, TX 78155      |
|12610 S 195  KILLEEN, TX  76549      |
|710 S. IH-35 ROUND ROCK, TX 78681    |
|AWAY                                 |
|201 RALPH ABLANEDO                   |
|VEHICLE DRIVEN BY DRIVER             |
|2415 F.M. 2920 LOT#2 SPRING, TX 77388|
|SIGNATURE - IMPOUND (127931)         |
|5610 N. MCDONALD, MELISSA TX, 75454  |
|3010 HARDROCK, GRAND PRAIRIE,TX 75050|
|1504 N. PALESTINE, ATHENS, TX 75751  |
|5602 DOLTON DR                       |
|RICK'S AUTO                          |
|2028 DOUGLASS RD, NACOGODHCES, TX    |
|1212 BASTROP HWY                     |
|8530 N.S. HWY 16 POTEET, TX 78065    |
|5709 B DENTON HWY                    |
|218 N. MAIN LOCKHART, TX             |
|3012 INDUTRIAL TERRANCE              |
|ROBERT NORMAN WATSON JR.             |
+-------------------------------------+
only showing top 20 rows

+----------------------------------------+
|CONTRIB_FACTR_1_ID                      |
+----------------------------------------+
|FAILED TO STOP FOR TRAIN                |
|OVERTAKE AND PASS INSUFFICIENT CLEARANCE|
|UNDER INFLUENCE - ALCOHOL               |
|WRONG SIDE - NOT PASSING                |
|TAKING MEDICATION (EXPLAIN IN NARRATIVE)|
|IMPROPER START FROM PARKED POSITION     |
|DISTRACTION IN VEHICLE                  |
|UNDER INFLUENCE - DRUG                  |
|FAILED TO YIELD ROW - TURN ON RED       |
|NA                                      |
|PARKED IN TRAFFIC LANE                  |
|ILL (EXPLAIN IN NARRATIVE)              |
|FAILED TO YIELD ROW - STOP SIGN         |
|UNSAFE SPEED                            |
|FAILED TO STOP AT PROPER PLACE          |
|DISREGARD STOP SIGN OR LIGHT            |
|FAILED TO YIELD ROW - PRIVATE DRIVE     |
|PASSED ON RIGHT SHOULDER                |
|DISREGARD TURN MARKS AT INTERSECTION    |
|FAILED TO PASS TO LEFT SAFELY           |
+----------------------------------------+
only showing top 20 rows

+----------------------------------------+
|CONTRIB_FACTR_2_ID                      |
+----------------------------------------+
|FAILED TO STOP FOR TRAIN                |
|OVERTAKE AND PASS INSUFFICIENT CLEARANCE|
|UNDER INFLUENCE - ALCOHOL               |
|WRONG SIDE - NOT PASSING                |
|TAKING MEDICATION (EXPLAIN IN NARRATIVE)|
|DISTRACTION IN VEHICLE                  |
|UNDER INFLUENCE - DRUG                  |
|FAILED TO YIELD ROW - TURN ON RED       |
|NA                                      |
|PARKED IN TRAFFIC LANE                  |
|ILL (EXPLAIN IN NARRATIVE)              |
|FAILED TO YIELD ROW - STOP SIGN         |
|UNSAFE SPEED                            |
|FAILED TO STOP AT PROPER PLACE          |
|FAILED TO YIELD ROW - PRIVATE DRIVE     |
|DISREGARD STOP SIGN OR LIGHT            |
|PASSED ON RIGHT SHOULDER                |
|DISREGARD TURN MARKS AT INTERSECTION    |
|FAILED TO PASS TO LEFT SAFELY           |
|FOLLOWED TOO CLOSELY                    |
+----------------------------------------+
only showing top 20 rows

+------------------------------------------+
|CONTRIB_FACTR_P1_ID                       |
+------------------------------------------+
|OVERTAKE AND PASS INSUFFICIENT CLEARANCE  |
|UNDER INFLUENCE - ALCOHOL                 |
|WRONG SIDE - NOT PASSING                  |
|TAKING MEDICATION (EXPLAIN IN NARRATIVE)  |
|IMPROPER START FROM PARKED POSITION       |
|DISTRACTION IN VEHICLE                    |
|UNDER INFLUENCE - DRUG                    |
|FAILED TO YIELD ROW - TURN ON RED         |
|NA                                        |
|PARKED IN TRAFFIC LANE                    |
|ILL (EXPLAIN IN NARRATIVE)                |
|FAILED TO YIELD ROW - STOP SIGN           |
|UNSAFE SPEED                              |
|FAILED TO STOP AT PROPER PLACE            |
|FAILED TO YIELD ROW - PRIVATE DRIVE       |
|DISREGARD STOP SIGN OR LIGHT              |
|PASSED ON RIGHT SHOULDER                  |
|DISREGARD TURN MARKS AT INTERSECTION      |
|FOLLOWED TOO CLOSELY                      |
|IMPAIRED VISIBILITY (EXPLAIN IN NARRATIVE)|
+------------------------------------------+
only showing top 20 rows

+---------------+
|VEH_TRVL_DIR_ID|
+---------------+
|WEST           |
|NORTHWEST      |
|SOUTHWEST      |
|SOUTHEAST      |
|SOUTH          |
|NORTH          |
|UNKNOWN        |
|NORTHEAST      |
|NOT APPLICABLE |
|EAST           |
+---------------+

+---------------------+
|FIRST_HARM_EVT_INV_ID|
+---------------------+
|Y                    |
|N                    |
+---------------------+

+---------------+
|INCAP_INJRY_CNT|
+---------------+
|1              |
|2              |
|0              |
|3              |
|6              |
|4              |
+---------------+

+------------------+
|NONINCAP_INJRY_CNT|
+------------------+
|1                 |
|3                 |
|5                 |
|4                 |
|2                 |
|0                 |
|6                 |
|7                 |
|10                |
+------------------+

+--------------+
|POSS_INJRY_CNT|
+--------------+
|1             |
|3             |
|5             |
|4             |
|8             |
|7             |
|2             |
|0             |
|6             |
|15            |
|11            |
|29            |
|10            |
+--------------+

+-------------+
|NON_INJRY_CNT|
+-------------+
|31           |
|28           |
|26           |
|12           |
|22           |
|1            |
|13           |
|6            |
|3            |
|5            |
|37           |
|9            |
|17           |
|4            |
|8            |
|7            |
|21           |
|32           |
|2            |
|46           |
+-------------+
only showing top 20 rows

+--------------+
|UNKN_INJRY_CNT|
+--------------+
|1             |
|3             |
|5             |
|4             |
|2             |
|0             |
|6             |
+--------------+

+-------------+
|TOT_INJRY_CNT|
+-------------+
|1            |
|3            |
|5            |
|9            |
|4            |
|7            |
|2            |
|0            |
|6            |
|15           |
|11           |
|10           |
|31           |
|8            |
+-------------+

+---------+
|DEATH_CNT|
+---------+
|1        |
|2        |
|0        |
|4        |
|3        |
+---------+

In [37]:
df_units.select('VEH_MOD_YEAR', 'FIN_RESP_PROOF_ID', 'FORCE_DIR_1_ID', 'FORCE_DIR_2_ID').show()

+------------+--------+-----------------+--------------+--------------+
|VEH_MOD_YEAR|OWNR_ZIP|FIN_RESP_PROOF_ID|FORCE_DIR_1_ID|FORCE_DIR_2_ID|
+------------+--------+-----------------+--------------+--------------+
|        1999|   77357|                2|             1|             3|
|          NA|   13830|                1|            12|            NA|
|        2004|   78934|                1|             3|            NA|
|        2004|   78934|                1|             3|            NA|
|          NA|   78934|               NA|            NA|            NA|
|        2006|   76520|                1|             1|            NA|
|        2000|   76707|                1|             9|            NA|
|          NA|   78076|                2|            12|            NA|
|          NA|   76053|                1|             6|            NA|
|          NA|   76118|                1|            12|            NA|
|        2003|   75050|                1|            12|            12|
|        2004|   76040|                1|             6|            NA|
|          NA|   76180|                1|            11|            NA|
|        2002|   77084|                2|            12|            NA|
|        2004|   78564|                1|            11|             1|
|        2004|   77090|                1|             2|            NA|
|        2007|   77080|                2|             3|            NA|
|        2007|   79107|                1|            12|             1|
|        2007|   79107|                2|             6|             4|
|        1995|   79107|                2|             4|             8|
+------------+--------+-----------------+--------------+--------------+
only showing top 20 rows

# Findings

## Charge Table

- **Grain**: CRASH_ID, UNIT_NBR, PRSN_NBR, CHARGE, CITATION_NBR
- **Duplicates**: 202
- **Null Handling**: Need to handle null values in CHARGE, CITATION_NBR

---

## Damage Table

- **Grain**: CRASH_ID, DAMAGED_PROPERTY
- **Duplicates**: 344
- **Null Handling**: Need to handle null values in DAMAGED_PROPERTY column

---

## Endorse Table

- **Grain**: CRASH_ID, UNIT_NBR, DRVR_LIC_ENDORS_ID
- **Duplicates**: 0
- **Null Handling**: No need to handle null values

---

## Person Table

- **Grain**: CRASH_ID, UNIT_NBR, PRSN_NBR
  - Note: We don't have all person mappings because data for PRSN_NBR=1 is only present in the person table
- **Duplicates**: 0
- **Null Handling**: Need to handle null values in PRSN_SOL_FL, PRSN_DEATH_TIME, DRVR_ZIP
- **Data Type Correction**: PRSN_AGE column should be integer type because it contains integer values only

---

## Restrict Table

- **Grain**: CRASH_ID, UNIT_NBR, DRVR_LIC_RESTRIC_ID
- **Duplicates**: 0
- **Null Handling**: No need to handle null values


## Unit Table

- **Grain**: CRASH_ID, UNIT_NBR
- **Duplicates**: 5375
- **Duplicates on grain**: Because of VEH_DMAG_AREA_1_ID, VEH_DMAG_AREA_2_ID columns
- **Data Type Corrections**:
  - VEH_MOD_YEAR, FORCE_DIR_1_ID, FORCE_DIR_2_ID columns should be integer type
  - FIN_RESP_PROOF_ID column contains garbage value = 'NR' and if it is garbage then it should be integer type
- **Null Handling**: Need to handle null values on VEH_PARKED_FL, VEH_HNR_FL, VIN, EMER_RESPNDR_FL, OWNR_ZIP, VEH_INVENTORIED_FL, VEH_TRANSP_NAME, VEH_TRANSP_DEST